.order__drawer.ant-drawer-body {
    padding: 18px ;
}

.order__drawer .ant-drawer-header  { 
    border: none;
    border-radius: 0px;
    background-color: #1B1464 ;
}

.order__drawer .ant-drawer-title  {
    font-size: 26px ;
    color: white ;
}

.order__drawer .ant-drawer-close {
    color: white ;
}

.order__drawer .ant-drawer-close:hover {
    color: #DC2244 ;
} 

.customer__order__basket__items {
    height: 210px;
    width: 320px;
    overflow: auto;
}

.order__drawer .basket__shopping__items {
    width: 300px;
}

.price__total__order {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #DC2244;
}

.customer__data {
    font-size: 22px;
    font-weight: bold;
    color: #1B1464;
    margin-bottom: 10px;
}

