.ant-drawer-header {
    border: none;
    border-radius: 0px;
    background-color: #1B1464;
}

.ant-drawer-title {
    font-size: 26px;
    color: white;
}

.ant-drawer-close {
    color: white;
}

.ant-drawer-close:hover {
    color: #DC2244;
}

.customer__order__basket__items {
    height: 250px;
    overflow:scroll;
}

.price__total__order {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #DC2244;
}

.customer__data {
    font-size: 22px;
    font-weight: bold;
    color: #1B1464;
    margin-bottom: 20px;
}

.ant-form-item {
    margin-bottom: 20px;
}

.ant-form-item:last-child{
    margin-bottom: 0px;
}

.ant-col-8 {    
    flex: 0 0 25%;
}

.ant-form-item-label > label {
    font-size: 16px;
    color: #1B1464;
}

.ant-input {
    color: #1B1464;
    outline: none;
}

.ant-btn {
   height: auto;
   padding: 10px 40px;
   background-color: #1B1464;
   border: none;
   font-size: 16px;
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
    border-color: #DC2244;
    background: #DC2244;
}